@using MVC_Day03_lab.ViewModels
@model Product

<div class="d-flex justify-content-center">
	<h2 class="text-success">Product Details</h2>

</div>

<br />
<hr />
<br />

<div class="card text-center">
	<div class="card-header">
		<h3>@Model.Name</h3>
	</div>
	<div class="card-body">
		<p class="card-text">Price: @Model.Price</p>
		<p class="card-text">Description: @Model.Description</p>
		<p class="card-text">Category: @Model.Category.Name</p>
		<p class="card-text">Count: @Model.Count</p>

		<a href="~/Product/Index" class="btn btn-primary">Back To Products</a>
	</div>

</div>