@model ProductsDisplayVM

<p class="card-text">Price: @Model.Price</p>
<p class="card-text">Description: @Model.Description</p>
<p class="card-text">Category: @Model.CategoryName</p>
<p class="card-text">Count: @Model.Count</p>
<p class="card-text">Expire Date: @Model.ExpireDate</p>