

<h1 style="color: steelblue">
	Product Details
</h1>

<div>
	<p>Id: @Model.Id</p>
	<p>Title: @Model.Title</p>
	<p>Description: @Model.Description</p>
	<p>Price: @Model.Price</p>
	<p>Count: @Model.Count</p>
</div>

@*back to getAll*@
<a href="/Product/GetAll" class="btn btn-primary">Back to All Products</a>



